@model IEnumerable<SiaAdmin.Application.Features.Queries.SiaUser.GetByGuidSiaUser.GetByGuidSiaUserViewModel>
@{
    ViewData["Title"] = "SiaUserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SiaUserProfile</h1>

 