@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string userGuid = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
}

@section css {
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
}
<div class="card">
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            <div class="d-flex align-items-center position-relative my-1">
                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11sC19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                    </svg>
                </span>
                <input type="text" data-survey-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Proje Ara..." />
            </div>
        </div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-light-info me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                    </svg>
                </span>
                Filtre
            </button>
            <button type="button" id="btnExcelExport" class="btn btn-light-success me-3">
                <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path opacity="0.3" d="M19 15C20.7 15 22 13.7 22 12C22 10.3 20.7 9 19 9C18.9 9 18.9 9 18.8 9C18.9 8.7 19 8.3 19 8C19 6.3 17.7 5 16 5C15.4 5 14.8 5.2 14.3 5.5C13.4 4 11.8 3 10 3C7.2 3 5 5.2 5 8C5 8.3 5 8.7 5.1 9H5C3.3 9 2 10.3 2 12C2 13.7 3.3 15 5 15H19Z" fill="currentColor" />
                        <path d="M13 17.4V12C13 11.4 12.6 11 12 11C11.4 11 11 11.4 11 12V17.4H13Z" fill="currentColor" />
                        <path opacity="0.3" d="M8 17.4H16L12.7 20.7C12.3 21.1 11.7 21.1 11.3 20.7L8 17.4Z" fill="currentColor" />
                    </svg>
                </span>
                Excel İndir
            </button>
            <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true">
                <div class="px-7 py-5">
                    <div class="fs-4 text-dark fw-bolder">Filtre Özellikleri</div>
                </div>
                <div class="separator border-gray-200"></div>
                <div class="px-7 py-5 " data-kt-subscription-table-filter="form">
                    <div class="mb-10">
                        <label class="form-label fs-6 fw-bold">Proje Türü:</label>
                        <select class="form-select form-select-solid fw-bolder" data-kt-select2="true" data-placeholder="Proje Türü Seçiniz" data-allow-clear="true" data-kt-subscription-table-filter="month" data-hide-search="true">
                            <option></option>
                            <option value="aktif">Aktif</option>
                            <option value="pasif">Pasif</option>

                        </select>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="reset" class="btn btn-light btn-active-light-primary fw-bold me-2 px-6" data-kt-menu-dismiss="true" data-kt-subscription-table-filter="reset">Sıfırla</button>
                        <button type="submit" class="btn btn-primary fw-bold px-6" data-kt-menu-dismiss="true" data-kt-subscription-table-filter="filter">Uygula</button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                        </svg>
                    </span>
                    Proje Oluştur
                </button>
            </div>
            <div class="modal fade" id="kt_modal_add_user" tabindex="-1" aria-hidden="true" data-bs-focus="false">
                <div class="modal-dialog modal-dialog-centered mw-950px">
                    <div class="modal-content">
                        <div class="modal-header" id="kt_modal_add_user_header">
                            <h2 class="fw-bolder">Proje Tanımı</h2>
                            <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
                                <span class="svg-icon svg-icon-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                        <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">

                            <form id="kt_modal_add_user_form" class="form" action="#">
                                <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-bs-focus="false" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
                                    <div class="row">
                                        <div class="fv-row mb-7 col-6">
                                            <label class="required fw-bold fs-6 mb-2">
                                                Proje Kod


                                            </label>
                                            <span class="badge badge-circle badge-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Bu alana çıkılacak Projenin Kod bilgisini giriniz. Örneğin : 5460">
                                                ?

                                            </span>

                                            <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" name="Id" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Proje Kodu Giriniz" />
                                            <div class="text-muted mt-2">Son Proje Kodu = <code>@ViewBag.LastSurveyId</code></div>
                                        </div>
                                        <div class="fv-row mb-7 col-6">
                                            <label class="required fw-bold fs-6 mb-2">Proje Başlık</label>
                                            <span class="badge badge-circle badge-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                                                  title="Bu alana Projenin başlığını girmelisiniz. Örneğin : SICAK İÇECEKLER">
                                                ?
                                            </span>
                                            <input type="text" name="SurveyText" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Proje için Text Giriniz" />
                                        </div>
                                    </div>

                                    <div class="fv-row mb-7">
                                        <label class="required fw-bold fs-6 mb-2">Proje Açıklama</label>
                                        <span class="badge badge-circle badge-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                                              title="Bu alana Projenin açıklamasını girmelisiniz. Örneğin : SICAK İÇECEKLER Hakkında yaklaşık 10-12 dakika sürecek anketimizi doldurup, 300 puan kazanmak için lütfen">
                                            ?
                                        </span>
                                        <input type="text" name="SurveyDescription" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Proje için Açıklama Giriniz " />
                                    </div>

                                    <div class="row">
                                        <div class="fv-row mb-7 col-8">
                                            <label class="required fw-bold fs-6 mb-2">Proje Link</label>
                                            <span class="badge badge-circle badge-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                                                  title="Bu alana Projenin Linkini girmelisiniz. Örneğin : https://surveys.sia-insight.com/surveys/S20P1813BW459p9v3o7l7/cgi-bin/ciwweb.pl?studyname=S20P1813BW45&g={GUID}&s={SURVEYID}&c={CHECKSUM}">
                                                ?
                                            </span>
                                            <input type="text" name="SurveyLink" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Proje için Link'i Giriniz" />
                                        </div>

                                        <div class="fv-row mb-7 col-4">
                                            <label class="required fw-bold fs-6 mb-2">Survey LinkText</label>
                                            <span class="badge badge-circle badge-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                                                  title="Bu alana Projenin Linke tıklanacak alanın yazısını girmelisiniz. Örneğin : tıklayınız,buraya tıklayınız">
                                                ?
                                            </span>
                                            <input disabled="disabled" type="text" name="SurveyLinkText" class="form-control form-control-solid mb-3 mb-lg-0 disabled" placeholder="Kullanım Dışı!!!" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="fv-row mb-7 col-6">
                                            <label class=" fw-bold fs-6 mb-2">Proje Başlangıç Tarihi</label>
                                            <span class="badge badge-circle badge-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                                                  title="Bu alana Projenin Başlangıç tarihi bilgisini girmelisiniz. ">
                                                ?
                                            </span>
                                            <input class="form-control form-control-solid datepicker" name="SurveyStartDate" placeholder="Tarih ve Saat Seçiniz" />
                                        </div>
                                        <div class="fv-row mb-7 col-6">
                                            <label class=" fw-bold fs-6 mb-2">Proje Geçerlilik Tarihi</label>
                                            <span class="badge badge-circle badge-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                                                  title="Bu alana Projenin Geçerlilik tarihi bilgisini girmelisiniz.">
                                                ?
                                            </span>
                                            <input class="form-control form-control-solid datepicker" name="SurveyValidity" placeholder="Tarih ve Saat Seçiniz" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="fv-row mb-7 col-6">
                                            <label class="required fw-bold fs-6 mb-2">Proje SSI Kodu:</label>
                                            <span class="badge badge-circle badge-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                                                  title="Bu alana Projenin SSI Kodunu girmelisiniz. Örneğin : S20P1813BW45">
                                                ?
                                            </span>
                                            <input type="text" name="DBAddress" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Proje SSI Kodu Alanı Giriniz" />
                                        </div>
                                        <div class="fv-row mb-7 col-6">
                                            <label class="required fw-bold fs-6 mb-2">Proje Şifre</label>
                                            <span class="badge badge-circle badge-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                                                  title="Bu alana Projenin Şifre bilgisini girmelisiniz. Örneğin : Şu anlık deneme yazabilirsiniz">
                                                ?
                                            </span>
                                            <input type="text" name="DPPass" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Proje Şifre Alanı Giriniz" />
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="fv-row mb-7 col-6">
                                            <label class="required fw-bold fs-6 mb-2">Proje Puanı</label>
                                            <span class="badge badge-circle badge-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                                                  title="Bu alana Projenin  Puan bilgisini girmelisiniz. Örneğin : 500,1000">
                                                ?
                                            </span>
                                            <input type="text" name="SurveyPoints" class="form-control form-control-solid mb-3 mb-lg-0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" placeholder="Proje Puanı Giriniz" />
                                        </div>
                                        <div class="fv-row mb-7 col-6">
                                            <label class="required fw-bold fs-6 mb-2">Zorunluluk</label>
                                            <span class="badge badge-circle badge-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                                                  title="Proje zorunlu mu değil mi belirtmelisiniz tanışma anketi gibi zorunlu bir anketse zorunlu seçiniz!">
                                                ?
                                            </span>
                                            <select class="form-select form-select-solid" name="Mandatory" aria-label="Select example">
                                                <option>Lütfen Seçiniz...</option>
                                                <option value="1">Zorunlu</option>
                                                <option value="0">Zorunlu Değil</option>
                                            </select>

                                        </div>
                                    </div>


                                </div>
                                <div class="text-center pt-15">
                                    <button type="reset" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Vazgeç</button>
                                    <button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
                                        <span class="indicator-label">Kaydet</span>
                                        <span class="indicator-progress">
                                            Lütfen Bekleyiniz...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="kt_modal_export_users" tabindex="-1" aria-hidden="true">
                <!--begin::Modal dialog-->
                <div class="modal-dialog modal-dialog-centered mw-650px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="fw-bolder">Anket Genel Listesi</h2>
                            <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
                                <span class="svg-icon svg-icon-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                        <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                    </svg>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Bildirim Gönderme Modal -->
            <div class="modal fade" tabindex="-1" id="send_mobil_notification" tabindex="-1" aria-hidden="true" data-bs-focus="false">
                <div class="modal-dialog modal-dialog-centered mw-650px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Bildirim Gönder</h5>
                            <!--begin::Close-->
                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                            </div>
                            <!--end::Close-->
                        </div>

                        <form id="form_mobile_noti" class="form fv-plugins-bootstrap5 fv-plugins-framework">
                            <!-- Modal body -->
                            <div class="modal-body py-10 px-lg-17 ">
                                <!--begin::Scroll-->
                                <div class="scroll-y me-n7 pe-7 fv-row" id="kt_modal_new_target_form_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_new_target_form_header" data-kt-scroll-wrappers="#kt_modal_new_target_form_scroll" data-kt-scroll-offset="300px">

                                    <input type="hidden" id="hiddenRowId" name="surveyId">
                                    <input type="hidden" value="@userGuid" name="SentBy">

                                    <div class="fv-row mb-7">
                                        <label class="required fs-6 fw-semibold mb-2">Bildirim Başlığı</label>
                                        <input type="text" class="form-control form-control-solid" name="NotificationTitle" placeholder="Bildirim başlığını girin" />
                                        <div class="form-text">Başlık 80 karakterden kısa olmalıdır.</div>
                                        <div class="fv-plugins-message-container invalid-feedback">
                                        </div>
                                    </div>

                                    <div class="fv-row mb-7">
                                        <label class="required fs-6 fw-semibold mb-2">Bildirim İçeriği</label>
                                        <textarea class="form-control form-control-solid" rows="4" name="NotificationContent" placeholder="Bildirim içeriğini girin"></textarea>
                                        <div class="form-text">İçerik 1000 karakterden kısa olmalıdır.</div>
                                        <div class="fv-plugins-message-container invalid-feedback">
                                        </div>
                                    </div>


                                    <div class="fv-row mb-7">
                                        <div class="form-check form-switch form-check-custom form-check-solid">
                                            <input class="form-check-input" type="checkbox" id="scheduledNotification" />
                                            <label class="form-check-label" for="scheduledNotification">
                                                Bildirim Zamanını Programla
                                            </label>
                                        </div>
                                    </div>

                                    <div class="fv-row mb-7 d-none" id="scheduledTimeSection">
                                        <label class="fs-6 fw-semibold mb-2">Gönderim Zamanı</label>
                                        <input class="form-control form-control-solid" placeholder="Tarih ve Saat Seçin" id="kt_datepicker" name="ScheduledFor" />
                                    </div>

                                    <!-- Gönderim Özeti -->
                                    <div class="card bg-light mb-7">
                                        <div class="card-body">
                                            <h6 class="mb-3 text-gray-800">Gönderim Özeti</h6>
                                            <div class="d-flex flex-column">
                                                <div class="d-flex justify-content-between mb-2">
                                                    <span class="text-muted">Tahmini Alıcı Sayısı:</span>
                                                    <span class="text-dark fw-bold" id="recipient_count">-</span>
                                                </div>
                                                <div class="d-flex justify-content-between mb-2">
                                                    <span class="text-muted">Son Gönderim:</span>
                                                    <span class="text-dark fw-bold" id="last_sent">-</span>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <span class="text-muted">Durum:</span>
                                                    <span class="badge badge-success" id="notification_status">Gönderime Hazır</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--end::Scroll-->
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer flex-center">
                                <!-- İptal düğmesi -->
                                <button type="reset" data-bs-dismiss="modal" class="btn btn-light me-3">İptal</button>

                                <!-- Gönder düğmesi -->
                                <button type="submit" id="btn_submit_mobile_notification" class="btn btn-primary ">
                                    <span class="indicator-label">Bildirimi Gönder</span>
                                    <span class="indicator-progress">
                                        Lütfen bekleyin... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body py-4">
        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
            <thead>
                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">

                    <th>ID</th>
                    <th>Proje Adı</th>
                    <th>Proje Açıklama</th>
                    <th>Proje Link</th>
                    <th>Puan</th>
                    <th>Durum</th>
                    <th class="text-end min-w-125px"></th>
                </tr>
            </thead>
            <tbody class="text-gray-600 fw-bold">
            </tbody>

        </table>
    </div>
</div>



@section js {
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/tr.js"></script>
    <script src="~/js/survey/LoadTable.js"></script>

    <script>
        $(".datepicker").flatpickr({
            enableTime: true,
            dateFormat: "d-m-Y H:i",
            "locale": "tr",
        });
    </script>
    <script>

        "use strict";
        var KTUsersAddUser = function () {
            const t = document.getElementById("kt_modal_add_user"),
                e = t.querySelector("#kt_modal_add_user_form"),
                n = new bootstrap.Modal(t);
            return {
                init: function () {
                    (() => {
                        var o = FormValidation.formValidation(e, {
                            fields: {
                                Id: {
                                    validators: {
                                        notEmpty: {
                                            message: "Proje ID Alani Zorunludur"
                                        }
                                    }
                                },
                                SurveyText: {
                                    validators: {
                                        notEmpty: {
                                            message: "Proje Başlık Alani Zorunludur"
                                        }
                                    }
                                },
                                SurveyPoints: {
                                    validators: {
                                        notEmpty: {
                                            message: "Proje Puan Alani Zorunludur"
                                        }
                                    }
                                },
                                SurveyLink: {
                                    validators: {
                                        notEmpty: {
                                            message: "Proje Link'i Alani Zorunludur"
                                        }
                                    }
                                },
                                // SurveyLinkText: {
                                //     validators: {
                                //         notEmpty: {
                                //             message: "Proje Link Text Alani Zorunludur"
                                //         }
                                //     }
                                // },

                                SurveyDescription: {
                                    validators: {
                                        notEmpty: {
                                            message: "Proje Açıklama Alani Zorunludur"
                                        }
                                    }
                                },
                                DBAddress: {
                                    validators: {
                                        notEmpty: {
                                            message: "Proje Adı Alani Zorunludur"
                                        }
                                    }
                                },
                                DPPass: {
                                    validators: {
                                        notEmpty: {
                                            message: "Proje Şifre Alani Zorunludur"
                                        }
                                    }
                                },

                            },
                            plugins: {
                                trigger: new FormValidation.plugins.Trigger,
                                bootstrap: new FormValidation.plugins.Bootstrap5({
                                    rowSelector: ".fv-row",
                                    eleInvalidClass: "",
                                    eleValidClass: ""
                                })
                            }
                        });
                        const i = t.querySelector('[data-kt-users-modal-action="submit"]');
                        i.addEventListener("click", (t => {
                            t.preventDefault(), o && o.validate().then((function (t) {
                                console.log("validated!"), "Valid" == t ? (i.setAttribute("data-kt-indicator", "on"), i.disabled = !0,
                                    setTimeout((function () {
                                        var a = document.forms["kt_modal_add_user_form"]["SurveyStartDate"].value;
                                        var b = document.forms["kt_modal_add_user_form"]["SurveyValidity"].value;
                                        if (a == null || a == "") {
                                            Swal.fire({
                                                text: "Proje Başlangıç Tarihi  boş bırakılarak devam edilcektir",
                                                icon: "warning",
                                                buttonsStyling: !1,
                                                confirmButtonText: "Tamam!",
                                                customClass: {
                                                    confirmButton: "btn btn-primary"
                                                }
                                            })
                                        }
                                        if (b == null || b == "") {
                                            Swal.fire({
                                                text: "Proje Geçerlilik Tarihi  boş bırakılarak devam edilcektir",
                                                icon: "warning",
                                                buttonsStyling: !1,
                                                confirmButtonText: "Tamam!",
                                                customClass: {
                                                    confirmButton: "btn btn-primary"
                                                }
                                            })
                                        }
                                        if ((a == null || a == "") && (b == null || b == "")) {
                                            Swal.fire({
                                                text: "Proje Başlangıç ve Geçerlilik Tarihi boş bırakılarak devam edilcektir",
                                                icon: "warning",
                                                buttonsStyling: !1,
                                                confirmButtonText: "Tamam!",
                                                customClass: {
                                                    confirmButton: "btn btn-primary"
                                                }
                                            })
                                        }

                                        $.ajax({
                                            url: '@Url.Action("SurveyAdd", "Survey")',
                                            type: 'POST',
                                            dataType: 'json',
                                            cache: false,
                                            data: new FormData(document.getElementById("kt_modal_add_user_form")),
                                            processData: false,
                                            contentType: false,
                                            success: function (data) {
                                                console.log(data)
                                                if (data.succeeded == true) {
                                                    Swal.fire({
                                                        text: data.message,
                                                        icon: "success",
                                                        buttonsStyling: !1,
                                                        confirmButtonText: "Tamam",
                                                        customClass: {
                                                            confirmButton: "btn btn-primary"
                                                        }
                                                    }).then((function (t) {
                                                        location.reload(true)
                                                        t.isConfirmed && n.hide()
                                                    }))
                                                } else {
                                                    Swal.fire({
                                                        text: data.message,
                                                        icon: "error",
                                                        buttonsStyling: !1,
                                                        confirmButtonText: "Tamam",
                                                        customClass: {
                                                            confirmButton: "btn btn-primary"
                                                        }
                                                    }).then((function (t) {
                                                        location.reload(true)
                                                        t.isConfirmed && n.hide()
                                                    }))
                                                }

                                            },
                                            error: function (data) {

                                                Swal.fire({
                                                    text: data.responseJSON.Errors,
                                                    icon: "error",
                                                    buttonsStyling: !1,
                                                    confirmButtonText: "Tamam",
                                                    customClass: {
                                                        confirmButton: "btn btn-primary"
                                                    }
                                                }).then((function (t) {
                                                    i.removeAttribute("data-kt-indicator"), i.disabled = !1
                                                }))
                                            }
                                        });
                                        i
                                    }))) : Swal.fire({
                                        text: "Lütfen zorunlu alanları doldurunuz.",
                                        icon: "error",
                                        buttonsStyling: !1,
                                        confirmButtonText: "Tamam!",
                                        customClass: {
                                            confirmButton: "btn btn-primary"
                                        }
                                    })
                            }))
                        })), t.querySelector('[data-kt-users-modal-action="cancel"]').addEventListener("click", (t => {
                            t.preventDefault(), Swal.fire({
                                text: "İptal Etmek İstediginize Emin misiniz?",
                                icon: "warning",
                                showCancelButton: !0,
                                buttonsStyling: !1,
                                confirmButtonText: "Evet!",
                                cancelButtonText: "Hayır",
                                customClass: {
                                    confirmButton: "btn btn-primary",
                                    cancelButton: "btn btn-active-light"
                                }
                            }).then((function (t) {
                                t.value ? (e.reset(), n.hide()) : "cancel" === t.dismiss && Swal.fire({
                                    text: "Form İptal Edildi!.",
                                    icon: "error",
                                    buttonsStyling: !1,
                                    confirmButtonText: "Tamam!",
                                    customClass: {
                                        confirmButton: "btn btn-primary"
                                    }
                                })
                            }))
                        })), t.querySelector('[data-kt-users-modal-action="close"]').addEventListener("click", (t => {
                            t.preventDefault(), Swal.fire({
                                text: "İptal Etmek İstediginize Emin misinz?",
                                icon: "warning",
                                showCancelButton: !0,
                                buttonsStyling: !1,
                                confirmButtonText: "Evet!",
                                cancelButtonText: "Hayır",
                                customClass: {
                                    confirmButton: "btn btn-primary",
                                    cancelButton: "btn btn-active-light"
                                }
                            }).then((function (t) {
                                t.value ? (e.reset(), n.hide()) : "cancel" === t.dismiss && Swal.fire({
                                    text: "Form İptal Edilmedi!.",
                                    icon: "error",
                                    buttonsStyling: !1,
                                    confirmButtonText: "Tamam!",
                                    customClass: {
                                        confirmButton: "btn btn-primary"
                                    }
                                })
                            }))
                        }))
                    })()
                }
            }
        }();
        KTUtil.onDOMContentLoaded((function () {
            KTUsersAddUser.init()
        }));

    </script>

}
